:root {
  --scrollbar-length-y: 10%;
  --scrollbar-length-x: 10%;
  --scrollbar-width: 7px;
  --scrollbar-padding: 2px;
  --scrollbar-offset-top: 0px;
  --scrollbar-offset-bottom: 0px;
  --scrollbar-offset-left: 0px;
  --scrollbar-offset-right: 0px;
}

body.timebar-dragging * {
  cursor: default !important;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scroll-content {
  overflow-y: auto;
  height: 100%;
  
  scroll-timeline: --scroll-timeline-y y, --scroll-timeline-x x;
  /* Firefox supports the older "vertical/horizontal" syntax */
  scroll-timeline: --scroll-timeline-y vertical, --scroll-timeline-x horizontal;
}

@keyframes scroll-animation-y {
  0%   { top: calc(var(--scrollbar-offset-top)); }
  100% { top: calc(100% - var(--scrollbar-length-y) - var(--scrollbar-offset-bottom)); }
}

@keyframes scroll-animation-x {
  0%   { left: calc(var(--scrollbar-offset-left)); }
  100% { left: calc(100% - var(--scrollbar-length-x) - var(--scrollbar-offset-right)); }
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-bar {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--scrollbar-width);
  
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
  z-index: 1;
}

.scroll-bar-y {
  right: var(--scrollbar-padding);
  width: var(--scrollbar-width);
  height: var(--scrollbar-length-y);
  
  animation-timeline: --scroll-timeline-y;
  animation-name: scroll-animation-y;
}

.scroll-bar-x {
  bottom: var(--scrollbar-padding);
  height: var(--scrollbar-width);
  width: var(--scrollbar-length-x);
  
  animation-timeline: --scroll-timeline-x;
  animation-name: scroll-animation-x;
}